{
    "parser": "@babel/eslint-parser",
    "extends": [
      "airbnb", "prettier"
    ],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": ["warn", {
        "singleQuote": true,
        "semi": true,
        "trailingComma": "none"
      }],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "ignorePatterns": [
      "js/index.js",
      "js/meeting.js",
      "js/tool.js"
    ]
}