{
    "extends": "airbnb",
    "rules": {
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "semi": [
            "error",
            "always"
        ],
        "comma-dangle": 0,
        "no-console": "off",
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }],
        "global-require": "off",
        "react/prop-types": [
            1,
            { "ignore": "ignore", "customValidators": "customValidator" }
        ],
        "react/destructuring-assignment": [true , "always", { "ignoreClassFields": true }],
        "react/jsx-indent": [true, 4],
        "max-len": 0,
        "class-methods-use-this": 0,
        "react/jsx-indent-props": 0,
        "import/no-named-as-default": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/interactive-supports-focus": 0,
        "no-bitwise": 0,
        "no-trailing-spaces": ["error", { "ignoreComments": true }],
        "react/no-string-refs": 0,
        "jsx-a11y/no-static-element-interactions": [
            "error",
            {
                "handlers": [
                    "onClick",
                    "onMouseDown",
                    "onMouseUp",
                    "onKeyPress",
                    "onKeyDown",
                    "onKeyUp",
                    "onMouseOver",
                    "onMouseOut"
                ]
            }
        ]
    },
	"env": {
		"amd": true,
		"browser": true,
		"jquery": true,
		"node": true,
		"es6": true,
		"worker": true
	},
    "globals": {
        "document": true,
        "window": true,
        "$": true,
        "_": true
    },
    "parser": "babel-eslint"
}