<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>WebSDK Embedded CDN demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://source.zoom.us/3.6.1/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/3.6.1/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/3.6.1/zoom-meeting-embedded-3.6.1.min.js"></script>
    <script src="./tools/tool.js"></script>
    <script src="./tools/vconsole.min.js"></script>
    <script src="./tools/token-tool.js"></script>
    <script src="./tools/cdn.js"></script>
  </head>

  <body>
    <div id="ZoomEmbeddedApp"></div>
  </body>
</html>
