/Local/node_modules
/CDN/node_modules
/Local/package-lock.json
/Local/yarn.lock
/CDN/yarn.lock
/Local/.vscode
update-version.js
export.sh
/export
/Components/package-lock.json
/CDN/package-lock.json
/Components/node_modules
/Components/yarn.lock
CLAUDE.md