

select#sdk-lang {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   /* background-image: url(/images/select_option.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); */
   /* background-position: 90% center; */
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 5px auto;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 110px;
}

select#sdk-version {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(/images/select_option.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 90% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 5px auto;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 110px;
}

select#sdk-lang {
   color: #fff;
   /* background-image: url(/images/select_option.png), -webkit-linear-gradient(#2D8CFF, #2D8CFF 40%, #2D8CFF); */
   background-color: #2D8CFF;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

select#sdk-version {
 color: #fff;
 background-image: url(/images/select_option.png), -webkit-linear-gradient(#2D8CFF, #2D8CFF 40%, #2D8CFF);
 background-color: #606;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 padding-left: 15px;
}

.sdk-option {
 margin: 15px 0 0px 0 !important;

}

nav h2 {
 font-size: 20px;
}